@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Signika:wght@800&display=swap");
:root {
  --font-family: Open Sans;
  /* --font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
  --border-radius: 0;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;
}

/* html:[data-theme=dark]{
  background-color:black;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: "Signika", sans-serif;
  --font-weight: 800;
}

html,
body {
  height: 100vh;
  margin: 0;
}

body>footer {
  position: sticky;
  top: 100vh;
  text-align: center;
}

img{
    width: 100%;
    max-width: 760px;
    height: auto;

}

#post-content {
  padding: 1em;
}

p {
  /* padding-left: 1em; */
  --font-size: 16px;

}

ol, ul {
  --font-size: 16px;
}

h4, h5 {
  /* padding-left: 0.5em; */
}

h6 {
  /* padding-left: 1em; */
}

.center {
    text-align: center;
    padding: 1em;
  }

  .sub {
    font-size: 0.8em;
    font-style: italic;
  }

.gist {
  width:100%;
  max-width: 500px;
  margin:auto;
  overflow:auto;
}

.gist-container {
  width:95%;
  margin:auto;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1024px;;
  }
}